---
layout: default
title: Home
permalink: '/'
order: 1
splash_image: img/lavendar_farm_splash.png
---
<div class="index-splash" collapse>
  {% include splash.html splash_image=page.splash_image %}
</div>

<div class="index-banner">
  {% include banner.html %}
</div>
<div class="index-content container">
  <div class="flex--grid">
    <div class="">
      <section class="">
        <div class="">
          <div class="t--products">
            {% include products.html %}
          </div>
          <div class="t--localHarvest">
            {% include local_harvest.html %}
          </div>
        </div>
      </section>

      <section>
        <h4>Who we are</h4>
        {% for page in site.pages %}
          {% if page.title == 'Our Farm'%}
          {{page.content}}
          <a href="{{page.url}}">Read More</a>
          {% endif %}
        {% endfor %}
      </section>
    </div>

    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>
  </div>
</div>

{% comment %}
  <style class="scss">
    @import 'theme/vars';

    .index {
      &-banner {
        margin-bottom: 4rem;
      }
    }
  </style>
{% endcomment %}
