<div class="banner">
  <div class="container">
    <ul class="banner-list flex unstyle">
      <li class="flex-fill" collapse><h5 class="banner-list-hours"><i class="banner-list-icon ion-calendar" collapse></i><span class="editable">Closed to Public</span></h5></li>
      <li class="flex-fill flex" collapse>
        <i class="banner-list-icon ion-ios-location" collapse></i>
        <h6 class="banner-list-address">
          <a href="https://goo.gl/maps/dzUDF2jxWj22" class="editable">
            <span>865 Ph 10</span><br />
            <span>Castle Rock, Washington</span><br />
            <span>98611</span>
          </a>
        </h6>
      </li>
      <li class="flex-fill">
        <a href="tel:3603531905">
          <i class="banner-list-icon ion-ios-telephone" collapse></i>
          <h5 class="banner-list-phone editable">(360) 353-1905</h5>
        </a>
      </li>
    </ul>
  </div>
</div>

{% comment %}
<style media="screen" class="scss">
  @import 'theme/vars';
  @import 'util/mixins.mediaquries';

  .banner {
    background-color: map-get($theme, banner);

    &-list {
      @include bp(sm) {
        flex-wrap: no-wrap;
      }

      color: $white;
      flex-wrap: wrap;
      padding: .5rem 1rem;

      > li {
        @include bp(sm) {
          min-width: 0;
        }

        a {
          color: $white;
          text-decoration: none;
        }

        min-width: 100%;
        padding-left: 3rem;
        position: relative;
      }

      &-icon {
        font-size: 2rem;
        left: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &-hours,
      &-phone {
        font-weight: map-get($weights, light);
      }

      &-address {
        font-weight: map-get($weights, light);
      }

      &-hours {
        line-height: map-get($heights, banner);
      }

      &-phone {
        font-weight: map-get($weights, light);
        line-height: map-get($heights, banner);
      }
    }
  }
</style>
{% endcomment %}
