<footer class="footer flex--grid origin">
  <div class="footer-logo align--top-center">
    {% img logo.svg %}
  </div>
  <div class="footer-links">
    <ul class="unstyle">
      {% for node in nodes %}
        {% if node.title != nil && node.order > 0%}
          {% assign loopHalf = forloop.length | divided_by: 2 %}
          <li class="flex-fill {% if node.title == page.title %}is-active{% endif %}">
            <a href="{{ node.url | prepend:site.baseurl }}">{{node.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="footer-links">
    <ul class="unstyle">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
  </div>

  <div class="footer-social flex-end">
    <ul class="unstyle">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Google</a></li>
    </ul>
  </div>
</footer>

{% comment %}
<style media="screen" class="scss">
  @import 'theme/vars';
  @import 'util/mixins.mediaquries';

  .footer {
    background-color: map-get($theme, accent);
    color: $white;
    padding: 1rem 2rem 5rem;

    &-logo {
      transform: translate(-50%, -2rem);
    }

    &-links,
    &-social {
      @include bp(sm) {
        display: block;
      }
      display: none;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

</style>
{% endcomment %}
