
<div class="localHarvest">
  <small>We are proud to offer our products through</small>
  <div class="localHarvest-list flex--grid">
    <div class="localHarvest-list-item flex-fill">
      <a href="https://www.localharvest.org/">
        <img src="https://www.localharvest.org/images/localharvest_logo_tiny.gif" border="0" width="177" height="35">
      </a>
    </div>
    <div class="localHarvest-list-item flex-fill">
      {% include button.html text="Go to our Store" href="https://www.localharvest.org/store/M48678" target="_blank"%}
    </div>
  </div>
</div>


<style class="scss">
  @import 'util/mixins.mediaquries';

  .localHarvest {
    margin: 4rem 0;

    &-list {
      flex-wrap: wrap;

      &-item {
        @include bp(sm) {
          margin-top: 0;
        }
        
        margin-top: 1rem;
      }
    }
  }
</style>
