<h4 class="font--light editable">Featured Products</h4>
<ul class="products flex--grid unstyle">
  {% for page in site.pages %}
    {% if page.products %}
      {% for product in page.products %}
        <li class="products-product">
          <a href="{{product.product_url}}">
            <img src="{{product.product_image}}" alt="" collapse />
            <p>{{product.product_title}}</p>
            <span>&#36; {{product.product_price}}</span>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>

{% comment %}
<style class="scss">
  @import 'theme/vars';
  @import 'util/mixins.mediaquries';

  .products {
    flex-wrap: wrap;

    &-product {
      @include bp(sm) {
        margin-top: 0;
        max-width: 33.333333333%;
        padding-left: 1rem;
      }

      a {
        display: block;
        text-decoration: none;
        color: map-get($theme, text);
        padding: .5rem;
        border-radius: .25rem;
        transition: box-shadow .5s ease;

        &:hover {
          box-shadow: 0 0 .25rem rgba($black, 0.25);
        }
      }

      margin-top: 1rem;

      img {
        max-width: 100%;
      }
    }
  }
</style>
{% endcomment %}
