<h3 class="font--light">Products</h3>
<ul class="products flex--grid unstyle">
  <li class="products-product">
    <img src="https://placeponi.es/200/200" alt="" collapse />
    <p>Title</p>
    <span>Price</span>
  </li>
  <li class="products-product">
    <img src="https://placeponi.es/200/200" alt="" collapse />
    <p>Title</p>
    <span>Price</span>
  </li>
  <li class="products-product">
    <img src="https://placeponi.es/200/200" alt="" collapse />
    <p>Title</p>
    <span>Price</span>
  </li>
</ul>

{% comment %}
<style class="scss">
  @import 'theme/vars';

  .products {
    flex-wrap: wrap;

    &-product {
      margin-top: 0;
      max-width: 33.333333333%;
      padding-left: 1rem;

      img {
        max-width: 100%;
      }
    }
  }
</style>
{% endcomment %}
