$input-height: 2.5rem;

$shadow: rgba(0, 0, 0, 0.25);

$inputs-text:
email,
number,
password,
search,
tel,
text,
time,
url;

%input {
  border-radius: .25rem;
  box-shadow: 0 0 1px 1px $shadow inset;
  display: block;
  font-size: 1rem;
  line-height: 1em;
  margin-top: 0;
  min-height: $input-height;
  outline: none;
  padding: calc((#{$input-height} - 1rem)/2) .25em;
  width: 100%;
}


@each $type in $inputs-text {
  input {
    [type='#{$type}'] {
      @extend %input;
    }
  }
}

textarea {
  @extend %input;
}

fieldset {
  width: 100%;

  legend {
    line-height: 1rem;
    padding-left: .25em;
    pointer-events: none;
    transition: transform .25s ease-in-out;
  }

  input {
    border-radius: .1rem;
    font-size: 16px;
    height: $input-height;
    outline: none;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 100%;
  }

  &:not(.has-content):not(.has-focus) > legend:first-child {
    transform: translate(0, $input-height) translate(0, -100%);
  }
}
