.popover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
  left: 50%;
  margin-top: 0;
  max-height: 100vh;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 10;

  &:not(:target) {
    transform: translate(-50%, -1000vh);
  }
}
