---
layout: default
title: Gallery
order: 3
gallery_images:
  - gallery_image: /uploads/lavender-photo-5.jpg
  - gallery_image: /uploads/lavender-photo-4.jpg
  - gallery_image: /uploads/lavender-photo-3.jpg
  - gallery_image: /uploads/lavender-photo-2.jpg
  - gallery_image: /uploads/lavender-photo-1.jpg
  - gallery_image: /uploads/lavender-photo-4.jpg
---
<div class="container">
  <div class="page">
    <h2 class="font--light">{{page.title}}</h2>
    <ul class="gallery unstyle">
      {% for image in page.gallery_images %}
        <li class="gallery-image">
          <a href="#{{image.gallery_image | split: '/' | last | slugify }}">
            {% img "{{image.gallery_image | split: '/' | last }}" width:auto height:auto collapse %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<ul class="unstyle">
  {% for image in page.gallery_images %}
    <li id="{{image.gallery_image | split: '/' | last | slugify }}" class="lightbox popover">
      <div class="align--center-center">
        <a href="#" class="lightbox-close">Close</a>
      </div>
      {% assign prev = forloop.index0 | minus: 1 %}
      {% assign next = forloop.index0 | plus: 1 %}
      {% img "{{image.gallery_image | split: '/' | last }}" width:auto height:auto collapse %}
      {% if prev >= 0 %}
        <a href="#{{page.gallery_images[prev].gallery_image | split: '/' | last | slugify }}" class="lightbox-prev align--center-left" collapse></a>
      {% endif %}
      {% if next < forloop.length %}
        <a href="#{{page.gallery_images[next].gallery_image | split: '/' | last | slugify }}" class="lightbox-next align--center-right" collapse></a>
      {% endif %}
    </li>
  {% endfor %}
</ul>


<style class="scss">
  @import 'theme/vars';
  @import 'util/mixins.mediaquries';

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;

    &-image {
      @include bp(sm) {
        max-width: calc(33.33333333% - 1rem);
      }

      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-top: 0;
      max-width: calc(100% - 1rem);

      img {
        width: 100%;
      }
    }
  }

  .lightbox {
    padding: 0 1rem;

    &:target {
      > img {
        opacity: 1;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      opacity: 0;
      transition: opacity 1s ease;
    }

    &-close {
      color: $white;
      position: absolute;
      text-decoration: none;
      transform: translate(calc(50vw - 100%), -50vh);
    }

    &-next,
    &-prev {
      background-color: $white;
      border-radius: 1rem;
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      text-decoration: none;
      width: 2rem;
    }

    &-next {
      transform: translate(-1rem, -50%);

      &:before {
        content: '>>';
      }
    }

    &-prev {
      transform: translate(1rem, -50%);

      &:before {
        content: '<<';
      }
    }
  }
</style>
