---
title: Shop
order: 4
products:
  - product_image: /uploads/oil.jpg
    product_title: Lavender Essential Oil
    product_price: '18.00'
    product_url:
  - product_image:
    product_title:
    product_price:
    product_url:
---
<h2 class="font--light editable">Shop Our Store</h2>
<p class="editable">Select from a variety of items made right here on the farm. try our soothing bath and body line, or try something from the lavender culinary side to create a new experience to ignite your taste buds. We also can create gift baskets for your every occasion. We ship all through out the United States.&nbsp;</p>
{% include local_harvest.html %}
{% include products.html %}
