.t- {
  &-header {
    background-color: orange;

    li {
      text-align: center;
      height: 3rem;

      + li {
        border-left: solid thin black;
      }
    }

    a {
      color: white;
      text-decoration: none;
      height: 3rem;
      line-height: 3rem;
      display: inline-block;
    }
  }
}
