@import
'vars';

.t- {
  &-splash {
    position: relative;

    &-content {
      background-color: $black;
      color: $white;
      margin-top: 0;
      max-width: 100%;
      padding: 1rem;
    }

    > img {
      display: block;
      max-width: 100%;
    }
  }
}
