@import 'vars';

:root {
  font-family: 'Lato', sans-serif;
}

body {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

@each $name, $value in $weights {
  .font--#{$name} {
    font-weight: $value;
  }
}

@each $name, $value in $theme {
  .color--#{$name} {
    color: $value;
  }
}

hr {
  border: none;
  border-bottom: solid thin map-get($theme, accent);
}
