$white: #ffffff;
$black: #000000;

$heights: (
  header: 3rem,
  banner: 4rem
);

$indexes: (
  header
);

$weights: (
  light: 100,
  bold: 700
);

$theme: (
  accent: #7fd8cf,
  background: #fff3d8,
  banner: #9e896f,
  header: #e1c8a4,
  text: #222222
);
