---
layout: default
---
<div class="container">
  <div class="page page--{{page.title | slugify }} flex--grid">
    <div class="page-content">
      <a href="cloudcannon:collections/{{page.path}}" collapse>Edit</a>
      <h3 class="font--light">{{page.title}}</h3>
      {{ content }}
    </div>
    <div class="flex-end">
      {% include sidebar.html %}
    </div>
  </div>
</div>

<style class="scss">
  @import 'theme/vars';

  .page {
    padding-top: 4rem;

    .page-title {
      font-weight: map-get($weights, light);
    }
  }
</style>
